page-home {
    .label{
        font-size: 9px;
    }
    .content{
        font-size: 11px;
    }
    .icon{
        font-size: 30px;
        display: block; 
        margin: 0 auto; 
    }
    .card {
        padding: 5px;
    }
    .additional {
    }
}
